*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #D5E4FF;
    width: 100vw;
    height: 100vh;
}

.maincontainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.top{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 30px;
}

.bottom{
    background-color: white; 
    border-radius: 10px;
    width: 1065px;
    height: 200px;
   
}

.leftform{
    background-color: white;
    border-radius: 10px;
    width: 330px;
    height: 380px;
}

.rightside{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.topright{
    background-color: white;
    border-radius: 10px;
    width: 700px;
    height: 130px;
    
}

.bottomright{
    background-color: white;
    border-radius: 10px;
    width: 700px;
    height: 220px;
}

.header-container{
    display: flex;  
    flex-direction: row; 
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.img-weatherlogo{
    width: 50px;
    margin: 10px;
}

.header-text{
    display: flex;
    font-size: 15px;
}